@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
html, body {
 margin: 0;
 padding: 0;
 font-family: 'Playfair Display', serif;
}
h1 {
 font-family: 'Playfair Display', serif;
 
}
p {
 font-family: 'Playfair Display', serif;
}
h2 {
 font-family: 'Playfair Display', serif;
 font-weight: 700;
}
h5 {
 font-family: 'Playfair Display', serif;
}
.container button {
 font-size: 16px;
 color: black;
}
ul {
 font-family: 'Playfair Display', serif;
}
ol {
 font-family: 'Playfair Display', serif;
}
 .navbar span {
  font-size: 16px;
 }
 
